<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.mrboss.updateplugins" version="0.0.2" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>UpdatePlugin</name>
    <description>自更新插件</description>
    <js-module name="UpdatePlugin" src="www/UpdatePlugin.js">
        <clobbers target="cordova.UpdatePlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UpdatePlugin">
                <param name="android-package" value="com.mrboss.updateplugins.UpdatePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/UpdatePlugin.java" target-dir="src/com/mrboss/updateplugins"/>
        <source-file src="src/android/SureButtonListener.java" target-dir="src/com/mrboss/updateplugins"/>
        <source-file src="src/android/Update.java" target-dir="src/com/mrboss/updateplugins"/>
    </platform>
</plugin>
